.active {
  background-color: #f188ede7;
}

li a:hover {
  background-color: #dfb8b8;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2a1c1c;
}

li {
  float: left;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#title {
  padding-top: 10px;
  text-align: center;
  background-color: #dfb8b8;
  height: 300px;
  width: 100%;

}

.produto {
  display: inline-block;
  height: 500px;
  width: 700px;
  border-radius: 20px;
  border-style: ridge;
  border-color: #2a1c1c;
  background-color: beige;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

.imagem {
  border-style: inset;
  border-radius: 20px;
}

footer {
  background-color: #dfb8b8;
  text-align: center;
  padding-top: 10px;
  border-top: dashed;
  border-bottom: dashed;
}
