footer img{
    height: 300px;
    width: 60%;
}

main div{
    text-align: center;
    padding: 20px;
    
}
main img{
    height: 700px;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
}

    
}